h1{
	padding: 50px;
}
div{

}
.btn1{
	width: 550px;
	font-size: 28px;
	padding: 10px;
	margin: 30px;
}
.btn2{
	width: 400px;
	font-size: 30px;
	padding: 20px;
	margin: 30px;
}
.btn3{
	width: 400px;
	font-size: 30px;
	padding: 20px;
	margin: 30px;
}

.titulos{
	padding: 10px;
}
